@font-face {
  font-family: pixel;
  src: url(Minecraft.ttf);
}

:root {
  --system: #bb033a;
}

* {
  user-select: none;
  font-family: pixel;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  display: flex;
  justify-content: center;
  background: black;
}

.chat {
  position: absolute;
  border-radius: 4px;
  top: 20px;
  right: 20px;
  border: 1px solid #ccc;
  width: 15rem;
  height: 20rem;
}

.header {
  font-size: 20px;
  font-weight: 500;
  color: var(--system);
  padding: 10px 20px 10px 10px;
  border-bottom: 1px solid #ccc;
}

.messages {
  height: 15rem;
  background: transparent;
}

input {
  font-family: pixel;
  border-radius: inherit;
  border-top: solid 1px rgba(204, 204, 204, 0.671);
  color: white;
  padding: 11px 25px;
  background: transparent;
}

.controllers-left {
  left: 0;
  bottom: 0;
}

.controllers-right {
  right: 5rem;
  bottom: 0;
}

.controllers-left,.controllers-right {
  padding: 0 10px;
  position: absolute;
  width: 100px;
  height: 100px;
  display: none;
  justify-items: center;
  align-items: center;
}

img#left,img#top,img#right,img#down {
  padding: 0 10px;
}